body {
  background-color: #FDF2E9;
}

#comment  {
  height: 1100px;
  position:relative;
  font-size: 30px;
  font-family: Verdana, Helvetica, sans-serif;
  padding: 1%;
  border: 2px solid blue;
  color: blue;
  margin-bottom: 30px;
}
